#contact_section{
    // margin-top: 200px;
    height: fit-content;
    width: 100%;

    .inner{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;

        .contact_image{
            width: 100%;
            max-height: 600px;
            margin-top: 100px;
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .inner_contact_wrapper{
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;

            h2{
                font-family: 'Playfair Display', serif;
                font-size: 3rem;
                font-weight: lighter;
                margin-bottom: 20px;
            }

            p{
                font-size: 1.5rem;
                line-height: 2.6rem;
                color: rgb(120,120,120);
            }
        }

        .form{
            margin-top: 60px;
            width: 100%;
            color: rgb(50,50,50);

            label{
                display: block;
                margin-top: 30px;
                margin-bottom: 10px;
                font-size: 1.5rem;
            }

            input{
                padding: 15px 15px;
                border: 1px solid rgb(200,200,200);
                border-radius: 8px;
                width: 45%;
                font-size: 1.5rem;
                color: black;
            }
            input[type=email]{
                display: block;
                width: 90%;
            }

            textarea{
                width: 90%;
                resize: vertical;
                padding: 20px;
                font-size: 1.5rem;
                border: 1px solid rgb(200,200,200);
            }

            button{
                border: none;
                padding: 20px 50px;
                display: block;
                margin-top: 20px;
                margin-bottom: 150px;
                background-color: black;
                color: white;
                font-size: 1.5rem;
                cursor: pointer;
                transition: .3s ease-in-out;

                &:hover{
                    background-color: rgb(30,30,30);
                }
            }
        }
    }

    @media screen and (min-width: 980px) {
        .inner{
            justify-content: space-between;
            width: 80%;

            .contact_image{
               flex-basis: 45%;
               margin-top: 200px;
               max-height: 900px;
            }
            .inner_contact_wrapper{
                margin-top: 200px;
                flex-basis: 50%;

                h2{
                    font-size: 3.5rem;
                }
            }
        }
    }
}


.icons a img{
    width: 40px;
    height: 40px;
}

#whatsapp_icon,
#insta_icon{
    display: block;
    position: fixed;
    right: 30px;
    // top: 95vh;
    bottom: 20px;
    width: 50px;
    height: 50px;

    &:hover{
        animation: pulse .3s infinite alternate;
        cursor: pointer;
    }
}

#whatsapp_icon{
    width: 50px;
    height: 50px;
}

#insta_icon{
    right: 80px;
}


// animations
@keyframes pulse {
    0% {
        transform: scale(1); /* Initial size */
    }
    100% {
        transform: scale(1.1); /* Increased size */
    }
}